@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
.test{
  width: 300px;
  background-color: #464646;
}
.logo{
  /*background-color: #4d9172;*/
  font-size: 60px;
  text-align: center;
  cursor: pointer;
  color: #386952;
  font-family: 'Barlow Condensed',sans-serif;
  font-weight: 200;
  padding: 50px;
}
.description{
  color: #000000;
  border: 1px solid #386952;
  padding: 20px;
  margin-right: 50px;
  /*text-align: center;*/
  /*font-family: 'Barlow Condensed',sans-serif;*/
  /*font-weight: 600;*/
}
.navigation{
  border: 1px solid #386952;
  padding: 30px;
  color: #386952;
  margin:0 20px 0 20px;
  background-color: #ffffff;
}
.home_nav_prod{
  display: flex;
  flex-direction: row;
}

.nav{
  cursor: pointer;
  /*padding: 7px;*/
  /*background-color: black;*/
  margin: 10px 0 10px 0;
}
.link{
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
.loginLink{
  text-decoration: none;
  color: #15c50e;
  cursor: pointer;
  font-size: 20px;
}
.loginButtonHome{
  width: 150px;
  padding: 10px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  border: 1px solid #11af00;
}
.bucketLink{
  text-decoration: none;
  color: #cc562a;
  cursor: pointer;
  font-size: 20px;
}
.bucketButton{
  width: 150px;
  padding: 10px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  border: 2px solid #cc562a;
}
.loginBucket{
  display: flex;
  gap: 20px;
  justify-content: right;
  margin-right: 50px;
  margin-bottom: 20px;
  /*background-color: #8fff89;*/
}
.avatar{
  font-size: 20px;
}
.avatarLogout{
  display: flex;
  gap:20px;
}
.logoutButt{
  width: 150px;
  border: solid black;
  background-color: white;
}
.filterInput{
  display: flex;
  justify-content: center;

}
.categoryText{
  display: flex;
  justify-content: center;
  font-size: 40px;
  font-weight: 100;
  color: #386952;
}
.productsContainer{
  display: flex;
  flex-wrap: wrap;
  gap:20px;
  margin: 50px;
}

.product {
  flex: 1 1 calc(33.33% - 20px); /* Trzy elementy na wiersz z uwzględnieniem odstępów */
  box-sizing: border-box;        /* Uwzględnia padding i border w szerokości */
  padding: 10px;
  border: 1px solid #ddd;        /* Dla lepszej widoczności */
  text-align: center;
}

.logoFotter{
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding-left: 30px;
}
.followUsComponent{
  /*background-color: #8fff89;*/
  width: 400px;
}
.followUs{
  display: flex;
  justify-content: center;
  padding: 10px;
  font-weight: 400;
  font-size: 20px;
}

.logoFotterPayment{
  display: flex;
  flex-direction: row;
  gap: 40px;
  padding-top: 30px;
}
.footer{
  border-top: 1px solid #ababab;
  padding-top: 20px;
  display: flex;
  gap: 600px;
}
.titleproduct{
  padding: 10px;
  font-size: 20px ;
  font-weight: 500;
}
.moredetails{
  text-decoration: none;
  color: #852323;
  font-size: 20px;
}
.phototitle{
  display: flex;
  flex-direction: column;
  gap:40px;
  width: 600px;
  margin-left: 80px;
  padding: 30px;
  align-items: center;
  border: 1px solid black;
  box-sizing: border-box;
  overflow: hidden; /* Zapewnia, że nic nie wychodzi poza ramki */
}

.phototitle img {
  max-width: 100%; /* Dopasowuje obraz do szerokości kontenera */
  max-height: 100%; /* Dopasowuje obraz do wysokości kontenera */
  object-fit: contain; /* Gwarantuje proporcjonalne dopasowanie obrazu */
}

.productAddingToCart{
  display: flex;
  flex-direction: row;
  gap: 70px;
}
.addingToCart{
  border: 1px solid black;
  width: 600px;
  padding: 20px;
  height: 300px;
}
.desc{
  font-size: 40px;
  font-weight: 100;
  text-align: center;
}
.quantity{
  width: 70px;
  height: 30px;
}
.addingToCartButt{
  width: 200px;
  height: 50px;
  font-size: 20px;
  background-color: #ffcc18;
  border: 2px solid red ;
  margin-top: 20px;
}
.inputAddingButt{
  display: flex;
  gap: 120px;
}
.select{
  text-align: center;
}
.remaining{
  display: flex;
  flex-direction: column;
  gap: 10px;
}


.app{
  background-color: #ffffff;
}
